language: python
dist: trusty

services:
  - xvfb

cache:
  directories:
    - $HOME/.cache/pip

matrix:
  include:
  - os: linux
    env: CONDA=2.7
  - os: linux
    env: CONDA=3.6

before_install:
- |
  # Install conda
  "/sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :99 -ac -screen 0 1280x1024x16"
  if [ "$TRAVIS_OS_NAME" = "linux" ]; then export CXX=g++-4.8 CC=gcc-4.8; fi
  if [ "$TRAVIS_OS_NAME" = "linux" ]; then OS=Linux-x86_64; else OS=MacOSX-x86_64; fi
  wget -O miniconda.sh https://repo.continuum.io/miniconda/Miniconda${CONDA:0:1}-latest-$OS.sh
  bash miniconda.sh -b -p $HOME/miniconda
  export PATH="$HOME/miniconda/bin:$PATH"
  conda init bash

install:
    # Setup conda activate/deactivate commands
  - conda init bash
  - source $(conda info --root)/etc/profile.d/conda.sh
  - conda info --root

    # Conda config - behavior and channel setup
  - conda config --set always_yes yes --set changeps1 no --set anaconda_upload no
  - conda config --add channels conda-forge --add channels marshallmcdonnell --add channels mantid --add channels mantid/label/nightly --add channels defaults

    # Install mamba
  - conda install mamba -c conda-forge
  - mamba update mamba -c conda-forge
  - mamba info -a

    # BUILD: Create addie build environment
  - mamba create -q -n addie_build python=$CONDA conda-build=3.17 conda-verify
  - conda activate addie_build
  - mamba build conda.recipe
  - export PKG_FILE=$(mamba build conda.recipe --output)
  - conda activate

script:
    # TEST: Create test environment and test build
  - mamba create -q -n addie_test python=$CONDA flake8 conda-build=3.17 anaconda-client pytest pytest-qt pytest-mpl
  - mamba info --envs
  - conda activate addie_test
  - mkdir -p ${CONDA_PREFIX}/conda-bld/linux-64/
  - cp ${PKG_FILE} ${CONDA_PREFIX}/conda-bld/linux-64/
  - ls ${CONDA_PREFIX}/conda-bld
  - ls ${CONDA_PREFIX}/conda-bld/linux-64
  - conda index ${CONDA_PREFIX}/conda-bld
  - mamba install -c ${CONDA_PREFIX}/conda-bld addie

  - |
    # Mantid pre-requiste - create a properties file that turns off network access
    mkdir ~/.mantid
    echo "CheckMantidVersion.OnStartup=0" > ~/.mantid/Mantid.user.properties
    echo "UpdateInstrumentDefinitions.OnStartup=0" >> ~/.mantid/Mantid.user.properties
    echo "usagereports.enabled=0" >> ~/.mantid/Mantid.user.properties
    export DISPLAY=:99.0
    sleep 3
  # - source activate addie_env
  # - conda install -c mantid/label/nightly mantid-workbench=4.0.20190416.1125
  # - conda install -c marshallmcdonnell mantid-total-scattering-python-wrapper

  # lint the code and generate an error if a warning is introduced
  - flake8 .
  - python -c "import mantid"
  - python -c "import qtpy"
  - python -c "import mantidqt"

  # mantid workbench tests
  - xvfb-run --server-args="-screen 0 640x480x24" --auto-servernum mantidworkbench --help
  - echo "import time;time.sleep(5)" > workbenchshutdown.py
  - xvfb-run --server-args="-screen 0 640x480x24" --auto-servernum mantidworkbench -q -x workbenchshutdown.py

  # run addie tests
  - xvfb-run --server-args="-screen 0 640x480x24" --auto-servernum pytest --mpl tests --disable-pytest-warnings
  - xvfb-run --server-args="-screen 0 640x480x24" --auto-servernum addie --version

deploy:
 # Deploy conda package to Anaconda.org https://anaconda.org/addie-diffraction/addie
 - provider: script
   script: cd conda.recipe && chmod +x anaconda_upload.sh && ./anaconda_upload.sh ${PKG_FILE}
   skip_cleanup: true
   skip_existing: true
   on:
     branch: master
     tags: true
