[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
mantid-total-scattering = "*"
matplotlib = "==2.2.3"
mock = "==2.0.0"
numpy = "==1.15.4"
oauthlib = "==3.0.0"
pytest = "==4.2.1"
periodictable = "==1.5.0"
psutil = "*"
pyoncat = {file = "https://oncat.ornl.gov/packages/pyoncat-1.3.2-py2.py3-none-any.whl"}
six = "==1.11.0"
QtPy = "==1.6.0"
